/*Styling for Development */
/*div {
  border: 3px solid #54ff9f;
  padding: 3px;
  margin: 3px;
}*/

/*Main site styling*/
body {
  color: #e3ebeb;
  background-color: #000;
}

ul {
  list-style-type: none;
}

h3 {

}

.center {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: auto;
}

.dark {
  background-color: #062a39;
}

.light {
  background-color: #123645;
}

/*Title Styling*/
.title {
  font-size: 4em;
  text-align: center;
  display: block;
  padding-top: 35px;
}

h2 {
  font-size: 3em;
  text-align: center;
}
